@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to the Dino Diner!</h1>

<p>
    <a asp-page="Menu">&diams; Menu &diams;</a>
    <a asp-page="About">&diams; About Us &diams;</a>
    <a asp-page="Privacy">&diams; Privacy Information &diams;</a>
</p>