/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.header-content {
    padding-left: 15px;
    padding-right: 15px;
}

.header-content img {
    max-height: 20vh;
    max-width: 20vw;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.menu-item > h4 {
    font-size: 1.17em;
    padding-bottom: 0px;
    margin: 0px;
}

.menu-item > p {
    margin-top: 5px;
}

