<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.Brontowurst">
            <summary>
            Class to represent the Brontowurst entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Ingredients">
            <summary>
            List to store the ingredients.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Special">
            <summary>
            Gets any special instructions for this menu item.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.#ctor">
            <summary>
            Constructor for the Brontowurst class. Sets the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldBun">
            <summary>
            Method to hold the bun.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldPeppers">
            <summary>
            Method to hold the peppers.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldOnion">
            <summary>
            Method to hold the onion.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            A class representing a combo meal
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Entree">
            <summary>
            Gets and sets the entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Side">
            <summary>
            Gets and sets the side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Drink">
            <summary>
            Gets and sets the drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Price">
            <summary>
            Gets the price of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Calories">
            <summary>
            Gets the calories of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Size">
            <summary>
            Gets or sets the size of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Ingredients">
            <summary>
            Gets the list of ingredients for the combo
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.CretaceousCombo.PropertyChanged">
            <summary>
            The PropertyChanged event handler; notifies of changes to the Price, Description, and Special properties.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.NotifyOfPropertyChange(System.String)">
            <summary>
            Helper function for notifying of property changes.
            </summary>
            <param name="propertyName"></param>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Description">
            <summary>
            Gets a description of this menu item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Special">
            <summary>
            Gets any special instructions for this menu item.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.#ctor(DinoDiner.Menu.Entree)">
            <summary>
            Constructs a new combo with the specified entree
            </summary>
            <param name="entree">The entree to use</param>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.DinoNuggets">
            <summary>
            Represents the Dino Nuggets entree.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.DinoNuggets.nuggetCount">
            <summary>
            Stores the amount of nuggets in the entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Ingredients">
            <summary>
            List to store the ingredients.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Special">
            <summary>
            Gets any special instructions for this menu item.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.#ctor">
            <summary>
            Constructor for the Dino Nuggets class. Sets the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.AddNugget">
            <summary>
            Method to add a nugget to the entree. Increases the price and calories
            for each nugget added.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Drink">
            <summary>
            Abstract class representing the drinks.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Size">
            <summary>
            Gets or sets the size.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ice">
            <summary>
            Tells whether the drink has ice or not.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ingredients">
            <summary>
            Gets the ingredient list.
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Drink.PropertyChanged">
            <summary>
            The PropertyChanged event handler; notifies of changes to the Price, Description, and Special properties.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.NotifyOfPropertyChange(System.String)">
            <summary>
            Helper function for notifying of property changes.
            </summary>
            <param name="propertyName"></param>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Description">
            <summary>
            Gets a description of this order item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Special">
            <summary>
            Gets any special instructions for this order item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.HoldIce">
            <summary>
            Method to hold the ice for a drink.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entree">
            <summary>
            Abstract class that represents the Entrees.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Price">
            <summary>
            Gets and sets the Price.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Calories">
            <summary>
            Gets and sets the Calories.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Ingredients">
            <summary>
            Gets the ingredient list.
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Entree.PropertyChanged">
            <summary>
            The PropertyChanged event handler; notifies of changes to the Price, Description, and Special properties.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entree.NotifyOfPropertyChange(System.String)">
            <summary>
            Helper function for notifying of property changes.
            </summary>
            <param name="propertyName"></param>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Description">
            <summary>
            Gets a description of this order item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Special">
            <summary>
            Gets any special instructions for this order item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Fryceritops">
            <summary>
            Represents the Fryceritops side.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Fryceritops.size">
            <summary>
            Stores the sizes of the sides.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Size">
            <summary>
            Gets and sets the price and calories based on the size of the side.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Ingredients">
            <summary>
            Stores the ingredients of the Fryceritops side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.#ctor">
            <summary>
            Constructor for the Fryceritops side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.IMenuItem">
            <summary>
            The Interface for a menu item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Price">
            <summary>
            Property for the price of the menu item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Calories">
            <summary>
            Property for the calories of the menu item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Ingredients">
            <summary>
            A list of the ingredients of the menu item.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.IOrderItem">
            <summary>
            Represents the Order Item interface.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Price">
            <summary>
            Gets the Price for the Order Item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Description">
            <summary>
            Gets a description of the Order Item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Special">
            <summary>
            Gets any special instructions for the order item.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.JurassicJava">
            <summary>
            Represents the Jurassic Java drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.RoomForCream">
            <summary>
            Property for specifying if room for cream is needed.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Decaf">
            <summary>
            Property for specifying if the Jurassic Java is decaf.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Size">
            <summary>
            Gets and sets the price and calories based on the size of the drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Ingredients">
            <summary>
            Stores the ingredients of the sodasaurus drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Special">
            <summary>
            Gets any special instructions for this order item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.#ctor">
            <summary>
            Constructor for the Jurassic Java drink.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.LeaveRoomForCream">
            <summary>
            Method for leaving room for cream.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.AddIce">
            <summary>
            Method for adding ice.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Menu">
            <summary>
            Represents the Menu for the Dino Diner.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableMenuItems">
            <summary>
            Gets a list of the available menu items.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableEntrees">
            <summary>
            Gets a list of the available entree items.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableSides">
            <summary>
            Gets a list of the available side items.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableDrinks">
            <summary>
            Gets a list of the available drink items.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableCombos">
            <summary>
            Gets a list of the available combos.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Menu.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The full menu contents.</returns>
        </member>
        <member name="T:DinoDiner.Menu.MeteorMacAndCheese">
            <summary>
            Represents the Meteor Mac and Cheese side.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.MeteorMacAndCheese.size">
            <summary>
            Stores the sizes of the sides.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Size">
            <summary>
            Gets and sets the price and calories based on the size of the side.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Ingredients">
            <summary>
            Stores the ingredients of the Meteor Mac and Cheese side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.#ctor">
            <summary>
            Constructor for the Meteor Mac and Cheese side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.MezzorellaSticks">
            <summary>
            Represents the Mezzorella Sticks side.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.MezzorellaSticks.size">
            <summary>
            Stores the sizes of the sides.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Size">
            <summary>
            Gets and sets the price and calories based on the size of the side.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Ingredients">
            <summary>
            Stores the ingredients of the Mezzorella Sticks side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.#ctor">
            <summary>
            Constructor for the Mezzorella Sticks side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Order">
            <summary>
            Represents a new customer order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.Items">
            <summary>
            A collection of items in the order.
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Order.PropertyChanged">
            <summary>
            An event Handler for property changes.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SubtotalCost">
            <summary>
            The subtotal cost of the order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxRate">
            <summary>
            The sales tax rate for the order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxCost">
            <summary>
            The sales tax cost for the order.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.TotalCost">
            <summary>
            The total cost of the order.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.#ctor">
            <summary>
            Constructor for the Order Class.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.Add(DinoDiner.Menu.IOrderItem)">
            <summary>
            Adds a new item to our order.
            </summary>
            <param name="item">The item to add to the list.</param>
        </member>
        <member name="M:DinoDiner.Menu.Order.Remove(DinoDiner.Menu.IOrderItem)">
            <summary>
            Removes an item from our order.
            </summary>
            <param name="item">The item to remove from the lsit.</param>
        </member>
        <member name="M:DinoDiner.Menu.Order.NotifyAllPropertiesChanged">
            <summary>
            Notifies when all of the properties have changed.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.PrehistoricPBJ">
            <summary>
            Represents the Prehistoric PB and J entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Special">
            <summary>
            Gets any special instructions for this menu item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Ingredients">
            <summary>
            List to store the ingredients.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.#ctor">
            <summary>
            Constructor for the Prehistoric PB and J class. Sets the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Method to hold the peanut butter.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldJelly">
            <summary>
            Method to hold the jelly.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.PterodactylWings">
            <summary>
            Represents the Pterodactyl Wings entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Ingredients">
            <summary>
            List to store the ingredients.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Special">
            <summary>
            Gets any special instructions for this menu item.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.#ctor">
            <summary>
            Constructor for the Pterodactyl Wings class. Sets the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Side">
            <summary>
            Abstract class that represents the sides.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Side.PropertyChanged">
            <summary>
            The PropertyChanged event handler; notifies of changes to the Price, Description, and Special properties.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Side.NotifyOfPropertyChange(System.String)">
            <summary>
            Helper function for notifying of property changes.
            </summary>
            <param name="propertyName"></param>
        </member>
        <member name="P:DinoDiner.Menu.Side.Description">
            <summary>
            Gets a description of this order item.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Special">
            <summary>
            Gets any special instructions for this order item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            Represents the sizes of drinks and sides.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sodasaurus">
            <summary>
            Represents the Sodasaurus drink.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sodasaurus.flavor">
            <summary>
            Stores the flavor of the sodasaurus drink.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sodasaurus.size">
            <summary>
            Stores the size of the sodasaurus drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Flavor">
            <summary>
            Gets and sets the flavor of the sodasaurus drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Size">
            <summary>
            Gets and sets the price and calories based on the size of the drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Ingredients">
            <summary>
            Stores the ingredients of the sodasaurus drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Special">
            <summary>
            Gets any special instructions for this order item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.#ctor">
            <summary>
            Constructor for the Sodasaurus class.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.SodasaurusFlavor">
            <summary>
            Enumerator for the sodasaurus drink flavors.
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.SteakosaurusBurger">
            <summary>
            Represents the Steakosaurus Burger.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Ingredients">
            <summary>
            List to store the ingredients.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Special">
            <summary>
            Gets any special instructions for this menu item.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.#ctor">
            <summary>
            Constructor for the Steakosaurus Burger class. Sets the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldBun">
            <summary>
            Method to hold the bun.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldPickle">
            <summary>
            Method to hold the pickle.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldKetchup">
            <summary>
            Method to hold the ketchup.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldMustard">
            <summary>
            Method to hold the mustard.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.TRexKingBurger">
            <summary>
            Class to represent the T-Rex King Burger entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Ingredients">
            <summary>
            List to store the ingredients.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Special">
            <summary>
            Gets any special instructions for this menu item.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.#ctor">
            <summary>
            Constructor for the T-Rex King Burger class. Sets the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldBun">
            <summary>
            Method to hold the bun for the burger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldLettuce">
            <summary>
            Method to hold the lettuce for the burger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldTomato">
            <summary>
            Method to hold the tomato for the burger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldOnion">
            <summary>
            Method to hold the onion for the burger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldPickle">
            <summary>
            Method to hold the pickle for the burger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldKetchup">
            <summary>
            Method to hold the ketchup for the burger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMustard">
            <summary>
            Method to hold the mustard for the burger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMayo">
            <summary>
            Method to hold the mayo for the burger.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Triceritots">
            <summary>
            Represents the Triceritots side.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Triceritots.size">
            <summary>
            Stores the sizes of the sides.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Size">
            <summary>
            Gets and sets the price and calories based on the size of the side.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Ingredients">
            <summary>
            Stores the ingredients of the Triceritots side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.#ctor">
            <summary>
            Constructor for the Triceritots side.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Tyrannotea">
            <summary>
            Represents the Tyrannotea drink.
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Tyrannotea.size">
            <summary>
            Stores the size of the Tyrannotea drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Sweet">
            <summary>
            Tells whether the tyrannotea is sweet or not.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Lemon">
            <summary>
            Tells whether the tyrannotea has lemon or not.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Size">
            <summary>
            Gets and sets the price and calories based on the size of the drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Ingredients">
            <summary>
            Stores the ingredients of the tyrannotea.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Special">
            <summary>
            Gets any special instructions for this order item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.#ctor">
            <summary>
            Constructor for the tyrannotea drink.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.AddLemon">
            <summary>
            Adds the lemon to tyrannotea drink.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.VelociWrap">
            <summary>
            Represents the Veloci-Wrap entree.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Ingredients">
            <summary>
            List to store the ingredients.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Special">
            <summary>
            Gets any special instructions for this menu item.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.#ctor">
            <summary>
            Constructor for the Veloci-Wrap class. Sets the price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldDressing">
            <summary>
            Method to hold the dressing.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldLettuce">
            <summary>
            Method to hold the lettuce.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldCheese">
            <summary>
            Method to hold the cheese.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
        <member name="T:DinoDiner.Menu.Water">
            <summary>
            Represents the water drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Lemon">
            <summary>
            Determines if there is lemon in the water.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Size">
            <summary>
            Gets and sets the price and calories based on the size of the drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Ingredients">
            <summary>
            Stores the ingredients of the sodasaurus drink.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Special">
            <summary>
            Gets any special instructions for this order item
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.#ctor">
            <summary>
            Constructor for the Water class.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.AddLemon">
            <summary>
            Method to add lemon to the water.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.ToString">
            <summary>
            Overrides the ToString() method.
            </summary>
            <returns>The name of the Menu Item.</returns>
        </member>
    </members>
</doc>
